{% extends 'base.html.twig' %}
{% block body %}
    <div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>All Classes</h3>

    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Class Routine Area Start Here -->
    <div class="row">
        <div class="col-4-xxxl col-12">
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Add Class </h3>
                        </div>
                        <br><br>
                    </div>
                    {% block update %}
                        <form class="new-added-form" method="post" >
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}
                            <div class="row">

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Subject Name</label>
                                    {{ form_widget (form.subjectName , {'attr': {'class':'form-control'}}) }}
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Coefficient</label>
                                    {{ form_widget (form.coefficient, {'attr': {'class':'form-control'}}) }}

                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Classe *</label>
                                    {{ form_widget (form.classes , {'attr': {'class':'select2'}}) }}

                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">

                                </div>

                            </div>
                            {{ form_widget(form.Add) }}
                            {{ form_widget(form.Reset) }}
                            {{ form_end(form, {'render_rest': false}) }}
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-8-xxxl col-12">
            <div class="card height-auto">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table display data-table text-nowrap">
                            <thead>
                            <tr>
                                <th>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input checkAll">
                                        <label class="form-check-label">Class ID</label>
                                    </div>
                                </th>
                                <th>Class Name</th>


                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                          <!--for -->
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input">
                                            <label class="form-check-label">#121</label>
                                        </div>
                                    </td>
                                    <td>151</td>


                                    <td>
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                               aria-expanded="false">
                                                <span class="flaticon-more-button-of-three-dots"></span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"><i
                                                            class="fas fa-times text-orange-red"></i>Delete</a>
                                                <a class="dropdown-item" href="#"><i
                                                            class="fas fa-cogs text-dark-pastel-green"></i>Update</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                           <!--end for -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}