{% extends 'baseFront.html.twig' %}
{% block sonia %}
{% endblock %}
{% block form %}
     <a class="nav-link py-3" id="home-moving-tab" data-toggle="tab" href="#home-moving" role="tab" aria-controls="home-moving" aria-selected="true">
                        Attendance form
                    </a>
                </li>

            </ul>



            <div class="tab-content rounded-bottom shadow bg-white py-4 px-5">

                <div class="tab-pane fade show active" id="home-moving" role="tabpanel" aria-labelledby="home-moving-tab">



                        <form class="row home-moving-form position-relative mb-0"  method="post" novalidate>
                            {{ form_start(form)}}
                            {{ form_row(form._token) }}
                            <div class="col-sm-6 input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text nobg"><i class="icon-line2-user"></i></span>
                                </div>
                                {% if form_errors(form.firstName)|length <= 0 %}
                                {{ form_widget(form.firstName , {'attr': {'class':'form-control','placeholder':'FirstName'}}) }}
                                {% else %}
                                    {{ form_widget(form.firstName , {'attr': {'class':'form-control is-invalid','placeholder':'FirstName'}}) }}
                                {% endif %}

                            </div>

                            <div class="col-sm-6 input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text nobg"><i class="icon-line2-user"></i></span>
                                </div>
                                {% if form_errors(form.lastName)|length <= 0 %}
                                {{ form_widget(form.lastName , {'attr': {'class':'form-control ','placeholder':'LastName'}}) }}
                                {% else %}
                                    {{ form_widget(form.lastName , {'attr': {'class':'form-control is-invalid','placeholder':'LastName'}}) }}
                                {% endif %}
                            </div>

                            <div class="col-sm-6 input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text nobg"><i class="icon-line2-envelope"></i></span>
                                </div>
                                {% if form_errors(form.birthDay)|length <= 0 %}
                                {{ form_widget(form.birthDay , {'attr': {'class':'form-control ','placeholder':'Date of birth'}}) }}
                                {% else %}
                                    {{ form_widget(form.birthDay , {'attr': {'class':'form-control is-invalid','placeholder':'Date of birth'}}) }}
                                {% endif %}
                            </div>

                            <div class="col-sm-6 input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text nobg"><i class="icon-line2-call-out"></i></span>
                                </div>
                                {% if form_errors(form.phone)|length <= 0 %}
                                {{ form_widget(form.phone , {'attr': {'class':'form-control ','placeholder':'Phone Number'}}) }}
                                    {% else %}
                                    {{ form_widget(form.phone , {'attr': {'class':'form-control is-invalid','placeholder':'Phone Number'}}) }}
                                {% endif %}
                            </div>

                            <div class="col-sm-6 input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text nobg"><i class="icon-line2-home"></i></span>
                                </div>
                                {% if form_errors(form.phone)|length <= 0 %}
                                {{ form_widget(form.placeobirth , {'attr': {'class':'form-control','placeholder':'Place of Birth'}}) }}
                                {% else %}
                                {{ form_widget(form.placeobirth , {'attr': {'class':'form-control is-invalid','placeholder':'Place of Birth'}}) }}
                                {% endif %}
                            </div>

                            <div class="col-sm-6 input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text nobg"><i class="icon-line2-home"></i></span>
                                </div>
                                {% if form_errors(form.address)|length <= 0 %}
                                {{ form_widget(form.address , {'attr': {'class':'form-control ','placeholder':'Address'}}) }}
                                {% else %}
                                    {{ form_widget(form.address , {'attr': {'class':'form-control is-invalid','placeholder':'Address'}}) }}
                                {% endif %}
                            </div>

                            <div class="col-sm-6 input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text nobg"><i class="icon-line2-home"></i></span>
                                </div>
                                {% if form_errors(form.email)|length <= 0 %}
                                {{ form_widget(form.email , {'attr': {'class':'form-control ','placeholder':'email'}}) }}
                                {% else %}
                                    {{ form_widget(form.email , {'attr': {'class':'form-control is-invalid','placeholder':'email'}}) }}
                                {% endif %}
                            </div>

                            <div class="col-sm-6 input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text nobg"><i class="icon-line2-home"></i></span>
                                </div>
                                {% if form_errors(form.academicyear)|length <= 0 %}
                                {{ form_widget(form.academicyear , {'attr': {'class':'form-control ','placeholder':'email'}}) }}
                                {% else %}
                                    {{ form_widget(form.academicyear , {'attr': {'class':'form-control is-invalid','placeholder':'academicyear'}}) }}
                                {% endif %}
                            </div>

                            <div class="col-sm-6 input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text nobg"><i class="icon-line2-home"></i></span>
                                </div>
                                {% if form_errors(form.gender)|length <= 0 %}
                                {{ form_widget(form.gender, {'attr': {'class':'form-control','placeholder':'gender'}}) }}
                                {% else %}
                                    {{ form_widget(form.gender, {'attr': {'class':'form-control is-invalid','placeholder':'gender'}}) }}
                                {% endif%}
                            </div>

                            <div class="col-sm-6 input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text nobg"><i class="icon-line2-home"></i></span>
                                </div>
                                {% if form_errors(form.bloodGroup)|length <= 0 %}
                                {{ form_widget(form.bloodGroup, {'attr': {'class':'form-control','placeholder':'bloodGroup'}}) }}
                                {% else %}
                                    {{ form_widget(form.bloodGroup, {'attr': {'class':'form-control is-invalid','placeholder':'bloodGroup'}}) }}
                                {% endif %}
                            </div>




                            <div class="col-12 hidden">
                                <input type="text" id="home-moving-form-botcheck" name="home-moving-form-botcheck" value="" />
                            </div>

                            <div class="col-12">
                                {{ form_widget(form.Ajouter, { 'attr': {'class': 'btn bgcolor text-white t500 btn-block py-2 mt-2'} })}}

                            </div>



                            {{ form_end(form , {'render_rest':false}) }}
                        </form>
                </div>
            </div>
    </div>
    <div class="col-lg-5 d-none d-lg-flex flex-wrap justify-content-center">
        <img src="{{ asset('FrontEnd/img/ed2.png')}}" alt="Image 1" class="d-flex align-self-end ml-5 mt-3">

    </div>
    </div>
    </div>
            <script src="{{ asset('https://unpkg.com/sweetalert/dist/sweetalert.min.js') }}"></script>
<script>
    $(function(){
        $( "#buttonajou" ).submit(function() {
           alert("dali");
        });
    });
    </script>
{% endblock %}
            {% block body %}

            {% endblock %}
            {% block join %}
{% endblock %}