{% extends 'base.html.twig'%}

 {% block body %}


     <div class="dashboard-content-one">
         <!-- Breadcubs Area Start Here -->
         <div class="breadcrumbs-area">
             <h3>Events</h3>
             <ul>
                 <li>
                     <a href="index.html">Home</a>
                 </li>
                 <li> <a href=""{{ path('ajouterEvent') }}"">Add New Event</a></li>
             </ul>
         </div>
         <!-- Breadcubs Area End Here -->
         <!-- Student Table Area Start Here -->
         <div class="card height-auto">
             <div class="card-body">
                 <div class="heading-layout1">
                     <div class="item-title">
                         <h3>All Events Data</h3>
                     </div>

                 </div>

                 {% for message in app.flashes('info') %}
                     <div class="alert alert-success">
                         {{ message }}
                     </div>

                 {% endfor %}


                 <form class="mg-b-20">
                     <div class="row gutters-8">
                         <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                             <input type="text" placeholder="Search by Roll ..." class="form-control">
                         </div>
                         <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                             <input type="text" placeholder="Search by Name ..." class="form-control">
                         </div>
                         <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                             <input type="text" placeholder="Search by Class ..." class="form-control">
                         </div>
                         <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                             <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                         </div>
                     </div>
                 </form>
                 <div class="table-responsive">
                     <table class="table display data-table text-nowrap">
                         <thead>
                         <tr>
                             <th>Id</th>
                             <th>Name</th>
                             <th>Type of Event</th>
                             <th>Description</th>
                             <th>Date</th>
                             <th>Place</th>
                             <th>Participants </th>
                             <th>Theme</th>
                             <th>Destination</th>
                             <th>Award</th>
                             <th>Budget</th>

                             <th></th>
                         </tr>
                         </thead>

                         {% for ff in var %}

                             <tbody>

                             <tr>
                                 <td>  {{ ff.id}} </td>
                                 <td>{{ ff.nomEvent }}</td>
                                 <td>{{ ff.typeEvent}}</td>
                                 <td>{{ ff.description}}</td>
                                 <td>{{ ff.dateEvent}}</td>
                                 <td>{{ ff.placeEvent}}</td>
                                 <td>{{ ff.nbParticipants}}</td>
                                 <td>{{ ff.theme}}</td>
                                 <td>{{ ff.destination}}</td>
                                 <td>{{ ff.award}}</td>
                                 <td>{{ ff.budget}}</td>

                                 <td>
                                     <div class="dropdown">
                                         <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false">
                                             <span class="flaticon-more-button-of-three-dots"></span>
                                         </a>
                                         <div class="dropdown-menu dropdown-menu-right">
                                             <a class="dropdown-item" href="{{ path('supprimerEvent',{'id':ff.id }) }}"><i
                                                         class="fas fa-times text-orange-red"></i> Delete</a>
                                             <a class="dropdown-item" href="{{ path('modifierEvent',{'id':ff.id }) }}"><i
                                                         class="fas fa-cogs text-dark-pastel-green"></i> Edit</a>
                                             <a class="dropdown-item" href="{{ path('afficherEvent') }}"><i
                                                         class="fas fa-redo-alt text-orange-peel"></i> Refresh</a>
                                         </div>
                                     </div>
                                 </td>
                             </tr>


                             </tbody>
                         {% endfor %}
                     </table>
                 </div>
             </div>
         </div>




         <section class="content-header">
             <div class="container">
                 <div class="row">



                 </div>
             </div>
         </section>
         <!-- Student Table Area End Here -->
         <footer class="footer-wrap-layout1">
             <div class="copyright">© Copyrights <a href="#">SparkIT</a> 2020. All rights reserved</div>
         </footer>
     </div>
     </div>
     <!-- Page Area End Here -->
     </div>
 {% endblock %}
