<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from www.radiustheme.com/demo/html/psdboss/akkhor/akkhor/student-attendence.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Jul 2019 05:33:58 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SparkIT Dashboard</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=" {{ base_dir ~ asset('img/favicon.png') }} ">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/normalize.css') }}">
    <!-- Main CSS -->
    <link rel="stylesheet"  href=" {{ base_dir ~ asset('css/main.css') }} ">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/bootstrap.min.css') }} " >
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/all.min.css') }} ">
    <!-- Flaticon CSS -->
    <link rel="stylesheet"  href=" {{ base_dir ~ asset('fonts/flaticon.css') }} " >
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/fullcalendar.min.css') }} ">
    <!-- Animate CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/animate.min.css') }} " >
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="{{ base_dir ~ asset('css/select2.min.css') }} ">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="{{  base_dir ~ asset('css/datepicker.min.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('style.css') }} " >
    <!-- Modernize js -->
    <script href=" {{ base_dir ~ asset('js/modernizr-3.6.0.min.js') }} "></script>
</head>

<body>
<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Teacher Attendance Sheet</h3>

    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Teacher Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3><a style="color:black" href="#" >{{ user.firstName }} {{user.lastName}}'s Absences</a></h3>
                </div>

            </div>

            <div class="table-responsive">
                <table class="table display data-table text-nowrap">
                    <thead>
                    <tr>

                        <th>Day</th>
                        <th>Debut Hour</th>
                        <th>End Hour</th>


                        <th></th>
                    </tr>
                    </thead>
                    {% for i in var %}
                        <tbody>

                        <tr>

                            <td>{{ i.jour }}</td>
                            <td>{{ i.heureDeb }}</td>
                            <td>{{ i.heureFin }}</td>




                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3><a style="color:black" href="#" >{{ user.firstName }} {{user.lastName}}'s Delays</a></h3>
                </div>

            </div>

            <div class="table-responsive">
                <table class="table display data-table text-nowrap">
                    <thead>
                    <tr>

                        <th>Day</th>
                        <th>Duration</th>



                        <th></th>
                    </tr>
                    </thead>
                    {% for j in var2 %}
                        <tbody>

                        <tr>

                            <td>{{ j.jour }}</td>
                            <td>{{ j.duree }} minutes</td>





                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

</body>


<!-- Mirrored from www.radiustheme.com/demo/html/psdboss/akkhor/akkhor/student-attendence.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Jul 2019 05:33:58 GMT -->
</html>