<!doctype html>

<html class="no-js" lang="">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SparkIT Dashboard</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=" {{ base_dir ~ asset('img/favicon.png') }} ">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/normalize.css') }}">
    <!-- Main CSS -->
    <link rel="stylesheet"  href=" {{ base_dir ~ asset('css/main.css') }} ">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/bootstrap.min.css') }} " >
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/all.min.css') }} ">
    <!-- Flaticon CSS -->
    <link rel="stylesheet"  href=" {{ base_dir ~ asset('fonts/flaticon.css') }} " >
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/fullcalendar.min.css') }} ">
    <!-- Animate CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/animate.min.css') }} " >
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="{{ base_dir ~ asset('css/select2.min.css') }} ">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="{{  base_dir ~ asset('css/datepicker.min.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('style.css') }} " >
    <!-- Modernize js -->
    <script href=" {{ base_dir ~ asset('js/modernizr-3.6.0.min.js') }} "></script>

</head>
<body>
<!-- Preloader Start Here -->

<!-- Preloader End Here -->

<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Teacher Informations</h3>
            </div>

        </div>
        <div class="single-info-details">
            <div class="item-img">
                <img src="{{ base_dir ~ asset('img/figure/teacher.jpg') }}" alt="teacher">
            </div>
            <div class="item-content">


                <div class="info-table table-responsive">
                    <table class="table text-nowrap">


                        <tbody>

                        <tr>
                            <td>First Name:</td>
                            <td class="font-medium text-dark-medium">{{ var.firstName }}</td>
                        </tr>
                        <tr>
                            <td>Last Name:</td>
                            <td class="font-medium text-dark-medium">{{ var.lastName }}</td>
                        </tr>
                        <tr>
                            <td>E-mail:</td>
                            <td class="font-medium text-dark-medium">{{ var.email }}</td>
                        </tr>
                        <tr>
                            <td>Gender:</td>
                            <td class="font-medium text-dark-medium">{{ var.gender }}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td class="font-medium text-dark-medium">{{ var.phone }}</td>
                        </tr>
                        <tr>
                            <td>Adress:</td>
                            <td class="font-medium text-dark-medium">{{ var.address }}</td>
                        </tr>
                        <tr>
                            <td>Birth Day:</td>
                            <td class="font-medium text-dark-medium">{{ var.birthDay }}</td>
                        </tr>
                        <tr>
                            <td>Joining Date:</td>
                            <td class="font-medium text-dark-medium">{{ var.joiningDate }}</td>
                        </tr>





                        </tbody>


                    </table>

                    <!-- diplome -->
                    <hr>
                    <div class="item-content">
                        <div class="header-inline item-header">
                            <h3 class="text-dark-medium font-medium">Diploma Informations</h3>
                        </div>
                        <table class="table text-nowrap">



                            <tbody>

                            <tr>
                                <td>Entitled:</td>
                                <td class="font-medium text-dark-medium">{{ dip.intitule }}</td>
                            </tr>
                            <tr>
                                <td>Institute:</td>
                                <td class="font-medium text-dark-medium">{{ dip.ecole }}</td>
                            </tr>
                            <tr>
                                <td>Speciality:</td>
                                <td class="font-medium text-dark-medium">{{ dip.specialite }}</td>
                            </tr>
                            <tr>
                                <td>Level:</td>
                                <td class="font-medium text-dark-medium">{{ dip.niveau }}</td>
                            </tr>

                            <tr>
                                <td>Date obtained:</td>
                                <td class="font-medium text-dark-medium">{{ dip.dateObtentation }}</td>
                            </tr>

                            </tbody>

                        </table>



                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>