{% extends 'base.html.twig' %}
{% block body %}

    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Teachers</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <a href="{{ path('showTeacher') }}"><li>All Teachers</li></a>
            </ul>
        </div>

        <!-- Breadcubs Area End Here -->
        <!-- Teacher Table Area Start Here -->
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">


                </div>
                <form class="mg-b-20">
                    <div class="row gutters-8">
                        <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                            <input type="text" placeholder="Search by ID ..." class="form-control">
                        </div>
                        <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                            <input type="text" placeholder="Search by Name ..." class="form-control">
                        </div>
                        <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                            <input type="text" placeholder="Search by Phone ..." class="form-control">
                        </div>
                        <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                            <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table display data-table text-nowrap">
                        <thead>
                        <tr>
                            <th>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input checkAll">
                                    <label class="form-check-label">ID N°</label>
                                </div>
                            </th>
                            <th>Photo</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>E-mail</th>
                            <th></th>
                        </tr>
                        </thead>
                        {% for i in var %}
                        <tbody>

                        <tr>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input">


                                        <label class="form-check-label">{{ i.id }}</label>

                                </div>
                            </td>
                            <td>{{ i.picture }}</td>
                            <td>{{ i.firstName }}</td>
                            <td>{{ i.lastName }}</td>
                            <td>{{ i.gender }}</td>
                            <td>{{ i.address }}</td>
                            <td>{{ i.phone }}</td>

                            <td>{{ i.email }}</td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                       aria-expanded="false">
                                        <span class="flaticon-more-button-of-three-dots"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{{ path('deleteTeacher',{'id':i.id }) }}"><i
                                                    class="fas fa-times text-orange-red"></i> Delete</a>
                                        <a class="dropdown-item" href="{{ path('addAbsanceTeacher',{'id':i.id }) }}"><i
                                                    class="fas fa-calendar-check text-dark-pastel-green"></i> Add Absence</a>
                                        <a class="dropdown-item" href="{{ path('addDelayTeacher',{'id':i.id }) }}"><i
                                                    class="fas fa-check-square text-dark-pastel-green"></i> Add Delay</a>

                                        <a class="dropdown-item" href="{{ path('showTeacherDetails',{'id':i.id }) }}"><i
                                                    class="fas fa-eye text-orange-peel"></i> Show Details</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <!-- Teacher Table Area End Here -->
        <footer class="footer-wrap-layout1">
            <div class="copyright">© Copyrights <a href="#">SparkIT</a> 2020. All rights reserved</div>
        </footer>
    </div>

{% endblock body %}