{% extends 'baseFront.html.twig' %}
 {% block form %}
     <a class="nav-link py-3" id="home-moving-tab" data-toggle="tab" href="#home-moving" role="tab" aria-controls="home-moving" aria-selected="true">Send Reclamation About School Schedule </a>
     </li>

     </ul>
     <div class="tab-content rounded-bottom shadow bg-white py-4 px-5">
         <div class="tab-pane fade show active" id="home-moving" role="tabpanel" aria-labelledby="home-moving-tab">

             <div class="form-widget">
                 <div class="form-result"></div>
                 <form class="row home-moving-form position-relative mb-0" action="{{ path('admin_AddReclamation') }}" method="post" >
                     <div class="form-process"></div>

                     <div class="col-sm-12 input-group form-group">
                         <div class="input-group-prepend">
                             <span class="input-group-text nobg"><i class="icon-line2-user"></i></span>
                         </div>
                         <input type="text"  name="sujet" id="home-moving-form-location-from" class="form-control required" value="School Schedule" >
                     </div>


                     <div class="col-lg-12-12 col-12 input-group form-group">
                         <div class="input-group-prepend">
                             <span class="input-group-text nobg"><i class="icon-line2-paper-plane"></i></span>
                         </div>
                         <input class="textarea form-control " cols="10px"  rows="10px" name="contenu" placeholder="Write Your Reclamation Here" >


                     </div>

                     <div class="col-12 hidden">
                         <input type="text" id="home-moving-form-botcheck" name="home-moving-form-botcheck" value="" />
                     </div>

                     <div class="col-12">
                         <button type="submit" class="btn bgcolor text-white t500 btn-block py-2 mt-2">SUBMIT</button>
                     </div>


                 </form>
             </div>
         </div>
     </div>
     </div>
     <div class="col-lg-5 d-none d-lg-flex flex-wrap justify-content-center">
         <img src="{{ asset('FrontEnd/img/ed2.png')}}" alt="Image 1" class="d-flex align-self-end ml-5 mt-3">

     </div>
     </div>
     </div>
 {% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('schedule.css')}}">

    <div class="Timetable">
        <table class="Timetable__table">

            <thead>
            <tr>
                <th colspan="10"></th>
            </tr>
            </thead>

            <tbody>

            <tr class="Timetable__time">
                <th class="Timetable__room"></th>
                <th>08:00</th>
                <th>10:00</th>
                <th>11:00</th>
                <th>12:00</th>
                <th>12:00 ->14:00 </th>
                <th>15:00</th>
                <th>16:00</th>
                <th>17:00</th>
                <th>18:00</th>
            </tr>
            {% for sch in schedule %}
                <tr>
                    <th class="Timetable__room">{{ sch .day }}</th>

                    <td colspan="2"> <div class="Allocation pdp">
                            <span class="Allocation__title">{{ sch.seance1 }}</span>

                        </div></td>
                    <td colspan="2">
                        <div class="Allocation">
                            <span class="Allocation__title">{{ sch.seance2 }}</span>

                        </div>
                    </td>
                    <td colspan="1"></td>
                    <td colspan="2">
                        <div class="Allocation please">
                            <span class="Allocation__title">{{ sch.seance3 }}</span>

                        </div>
                    </td>
                    <td colspan="2">
                        <div class="Allocation pdp">
                            <span class="Allocation__title">{{ sch.seance4 }}</span>

                        </div>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
    <br><br><br><br><br>
{% endblock %}
{% block join %}
{% endblock %}
