{% extends 'base.html.twig' %}
{% block body %}
    <div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">

    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Account Settings Area Start Here -->
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Add New User</h3>
                    </div>

                </div>
                <form class="new-added-form" method="post" novalidate>
                    {{ form_start(form) }}
                    <div class="row">
                        {{ form_row(form._token) }}
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label   >ID *</label>
                            {% if form_errors(form.id)|length <= 0 %}
                            {{ form_widget (form.id , {'attr': {'class':'form-control'}}) }}
                            {% else %}
                                {{ form_widget (form.id , {'attr': {'class':'form-control is-invalid'}}) }}
                            <div class="invalid-feedback">
                                {{ form_errors(form.id) }}
                            </div>
{% endif %}
                        </div>

                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>First Name *</label>
                            {% if form_errors(form.firstName)|length <= 0 %}
                            {{ form_widget (form.firstName , {'attr': {'class':'form-control'} }) }}
                            {% else %}
                            {{ form_widget (form.firstName , {'attr': {'class':'form-control is-invalid'} }) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.firstName) }}
                                </div>

                            {% endif %}
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Last Name *</label>
                            {% if form_errors(form.lastName)|length <= 0 %}
                            {{ form_widget (form.lastName , {'attr': {'class':'form-control'}}) }}
                            {% else %}
                                {{ form_widget (form.lastName , {'attr': {'class':'form-control is-invalid'}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.lastName) }}
                                </div>
                            {% endif %}
                        </div>
                        {% if form_errors(form.gender)|length <= 0 %}
                        <div class="col-xl-3 col-lg-6 col-12 form-group ">
                            <label>Gender *</label>
                            {{ form_widget (form.gender , {'attr': {'class':'select2'}}) }}
                            {% else %}
                            <div class="col-xl-3 col-lg-6 col-12 form-group has-error">
                                <label>Gender *</label>
                                {{ form_widget (form.gender , {'attr': {'class':'select2'}}) }}
                            <div class="invalid">
                            {{ form_errors(form.gender) }}
                            </div>
                                {% endif %}
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Role *</label>
                            {{ form_widget (form.roles , {'attr': {'class':'select2'}}) }}
                        </div>
                            {% if form_errors(form.userType)|length <= 0 %}
                        <div class="col-xl-3 col-lg-6 col-12 form-group ">
                            <label>User Type *</label>
                            {{ form_widget (form.userType , {'attr': {'class':'select2'}}) }}
                            {% else %}
                            <div class="col-xl-3 col-lg-6 col-12 form-group has-error">
                                <label>User Type *</label>
                                {{ form_widget (form.userType , {'attr': {'class':'select2'}}) }}
                            <div class="invalid">
                            {{ form_errors(form.userType) }}
                            </div>
                                {% endif %}
                        </div>


                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Joining Date *</label>
                            {% if form_errors(form.joiningDate)|length <= 0 %}
                            {{ form_widget (form.joiningDate , {'attr': {'class':'form-control air-datepicker ','placeholder':'dd/mm/yyyy', 'data-position':'bottom right'} }  ) }}
                            <i class="far fa-calendar-alt"></i>
                            {% else %}
                                {{ form_widget (form.joiningDate , {'attr': {'class':'form-control air-datepicker is-invalid ','placeholder':'dd/mm/yyyy', 'data-position':'bottom right'} }  ) }}
                                <i class="far fa-calendar-alt"></i>
                                <div class="invalid-feedback">
                                    {{ form_errors(form.joiningDate) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>BirthDay *</label>
                            {% if form_errors(form.birthDay)|length <= 0 %}
                            {{ form_widget (form.birthDay , {'attr': {'class':'form-control air-datepicker','placeholder':'dd/mm/yyyy', 'data-position':'bottom right'} }  ) }}
                           <i class="far fa-calendar-alt"></i>
                            {% else %}
                                {{ form_widget (form.birthDay , {'attr': {'class':'form-control air-datepicker is-invalid','placeholder':'dd/mm/yyyy', 'data-position':'bottom right'} }  ) }}
                                <i class="far fa-calendar-alt"></i>
                                <div class="invalid-feedback">
                                    {{ form_errors(form.birthDay) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>E-Mail</label>
                            {% if form_errors(form.email)|length <= 0 %}
                            {{ form_widget (form.email , {'attr': {'class':'form-control'}}) }}
                      {% else %}
                            {{ form_widget (form.email , {'attr': {'class':'form-control is-invalid'}}) }}
                            <div class="invalid-feedback">
                                {{ form_errors(form.email) }}
                            </div>
{% endif %}
                        </div>



                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Phone</label>
                            {% if form_errors(form.phone)|length <= 0 %}
                            {{ form_widget (form.phone , {'attr': {'class':'form-control'}}) }}
                            {% else %}
                                {{ form_widget (form.phone , {'attr': {'class':'form-control is-invalid'}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.phone) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Salaire *</label>
                            {% if form_errors(form.salaire)|length <= 0 %}
                            {{ form_widget (form.salaire , {'attr': {'class':'form-control'}}) }}
                            {% else %}
                                {{ form_widget (form.salaire , {'attr': {'class':'form-control is-invalid'}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.salaire) }}
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                           </div>

                        <div class="col-lg-6 col-12 form-group">
                            <label>Address *</label>
                            {% if form_errors(form.address)|length <= 0 %}
                            {{ form_widget (form.address , {'attr': {'class':'textarea form-control','cols':'10','rows':'4'}}) }}
                            {% else %}
                                {{ form_widget (form.address , {'attr': {'class':'textarea form-control is-invalid','cols':'10','rows':'4'}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.address) }}
                                </div>
                            {% endif %}

                        </div>
                        <div class="form-group col-md-2">
                            <br>  {% if form_errors(form.address)|length <= 0 %}
                           {{ form_widget(form.captcha,{'attr': {'class':'form-control '}}) }}
                            {% else %}
                                {{ form_widget(form.captcha,{'attr': {'class':'form-control is-invalid'}}) }}
                            <div class="invalid-feedback">
                            {{ form_errors(form.captcha) }}
                            </div>
                            {% endif %}
                        </div>


                        <div class="col-12 form-group mg-t-8">
                            {{ form_widget(form.Add) }}
                            {{ form_widget(form.Reset) }}

                        </div>
                    </div>
                    {{ form_end(form, {'render_rest': false}) }}
                </form>
            </div>
        </div>
    </div>
        <div class="col-4-xxxl col-xl-5">
            <div class="card account-settings-box height-auto">
                <div class="card-body">
                    <div class="heading-layout1 mg-b-20">
                        <div class="item-title">
                            <h3>All User</h3>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button"
                               data-toggle="dropdown" aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div>
                    </div>
                    <div class="all-user-box">
                        {% for u in allUsers %}


{% if u.id == allUsers[0].id %}
                        <div class="media media-none--xs active">
                            {% else %}
                            <div class="media media-none--xs">
                                {% endif %}

                                <div class="item-img">

                                    {% if u.gender == "Male" %}
                                        <img src=" {{ asset('img/figure/user1.jpg') }}" class="media-img-auto" alt="user">
                                    {% else %}
                                        <img src=" {{ asset('img/figure/user4.jpg') }}" class="media-img-auto" alt="user">
                                    {% endif %}

                                </div>
                                <div class="media-body space-md">
                                    <h5 class="item-title">{{u.firstName }} {{ u.lastName }}</h5>
                                    <div class="item-subtitle">{{u.userType}}</div>
                                    <a href="{{ path('admin_UpdateAccount',{'id':u.id}) }}" class="btn btn-outline-info">More Details</a>
                                    <a href="{{ path('admin_DeleteAccount',{'id':u.id}) }}" class="btn btn-outline-danger">Delete User</a>
                                </div>
                            </div>


                        {% endfor %}



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8-xxxl col-xl-7">
                <div class="card account-settings-box">
                    <div class="card-body">
                        <div class="heading-layout1 mg-b-20">
                            <div class="item-title">
                                <h3>User Details</h3>
                            </div>

                        </div>
                        <div class="user-details-box">
                            <div class="item-img">

                                    <img src=" {{ asset('img/figure/user.jpg') }}" class="media-img-auto" alt="user">

                            </div>
                            <div class="item-content">
                                <div class="info-table table-responsive">
                                    <table class="table text-nowrap">
                                        <tbody>
                                        <tr>
                                            <td>ID No:</td>
                                            <td class="font-medium text-dark-medium">{{ allUsers[0].id }}</td>
                                        </tr>
                                        <tr>
                                            <td>Name:</td>
                                            <td class="font-medium text-dark-medium">{{allUsers[0].firstName }} {{ allUsers[0].lastName }}</td>
                                        </tr>
                                        <tr>
                                            <td>User Type:</td>
                                            <td class="font-medium text-dark-medium">{{ allUsers[0].userType }} </td>
                                        </tr>
                                        <tr>
                                            <td>Gender:</td>
                                            <td class="font-medium text-dark-medium">{{ allUsers[0].gender }}</td>
                                        </tr>



                                        <tr>
                                            <td>Joining Date:</td>
                                            <td class="font-medium text-dark-medium">20/05/2019</td>
                                        </tr>
                                        <tr>
                                            <td>E-mail:</td>
                                            <td class="font-medium text-dark-medium">User@gmail.com</td>
                                        </tr>



                                        <tr>
                                            <td>Address:</td>
                                            <td class="font-medium text-dark-medium">Tunis</td>
                                        </tr>
                                        <tr>
                                            <td>Phone:</td>
                                            <td class="font-medium text-dark-medium">98101555</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Account Settings Area End Here -->
        <footer class="footer-wrap-layout1">
            <div class="copyright">© Copyrights <a href="#">SparkIT</a> 2020. All rights reserved</div>
        </footer>
        <!-- Footer Area End Here -->
    </div>
    </div>
{% endblock body %}