{% extends 'base.html.twig' %}
{% block body %}
    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">

        </div>
        <!-- Breadcubs Area End Here -->
        <!-- Account Settings Area Start Here -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Add New User</h3>
                            </div>

                        </div>
                        <form class="new-added-form" method="post">
                            {{ form_start(form) }}
                            <div class="row">
                                {{ form_row(form._token) }}
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>ID *</label>

                                    {{ form_widget (form.id , {'attr': {'class':'form-control'}}) }}

                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>First Name *</label>
                                    {{ form_widget (form.firstName , {'attr': {'class':'form-control'} }) }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Last Name *</label>
                                    {{ form_widget (form.lastName , {'attr': {'class':'form-control'}}) }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Gender *</label>
                                    {{ form_widget (form.gender , {'attr': {'class':'select2'}}) }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Role *</label>
                                    {{ form_widget (form.roles , {'attr': {'class':'select2'}}) }}
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>User Type *</label>
                                    {{ form_widget (form.userType , {'attr': {'class':'select2'}}) }}
                                </div>


                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Joining Date *</label>
                                    {{ form_widget (form.joiningDate , {'attr': {'class':'form-control air-datepicker','placeholder':'dd/mm/yyyy', 'data-position':'bottom right'} }  ) }}

                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>BirthDay *</label>
                                    {{ form_widget (form.birthDay , {'attr': {'class':'form-control air-datepicker','placeholder':'dd/mm/yyyy', 'data-position':'bottom right'} }  ) }}

                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>E-Mail</label>
                                    {{ form_widget (form.email , {'attr': {'class':'form-control'}}) }}

                                </div>



                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Phone</label>
                                    {{ form_widget (form.phone , {'attr': {'class':'form-control'}}) }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Salaire *</label>
                                    {{ form_widget (form.salaire , {'attr': {'class':'form-control'}}) }}

                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Picture *</label>
                                    <label class="file" title="">
                                        {{ form_widget (form.picture , {'attr': {'onchange':"this.parentNode.setAttribute('title', this.value.replace(/^.*[\\/]/, ''))"}}) }}
                                    </label> </div>

                                <div class="col-lg-6 col-12 form-group">
                                    <label>Address *</label>
                                    {{ form_widget (form.address , {'attr': {'class':'textarea form-control','cols':'10','rows':'4'}}) }}

                                </div>

                                <div class="col-12 form-group mg-t-8">
                                    {{ form_widget(form.Add) }}
                                    {{ form_widget(form.Reset) }}

                                </div>
                            </div>
                            {{ form_end(form, {'render_rest': false}) }}
                        </form>
                    </div>
                </div>
            </div>

            <!-- Account Settings Area End Here -->
            <footer class="footer-wrap-layout1">
                <div class="copyright">© Copyrights <a href="#">SparkIT</a> 2020. All rights reserved</div>
            </footer>
            <!-- Footer Area End Here -->
        </div>
    </div>
{% endblock body %}