{% extends 'base.html.twig' %}

{% block css %}
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=" {{ asset('img/favicon.png') }} ">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/normalize.css') }}">
    <!-- Main CSS -->
    <link rel="stylesheet"  href=" {{ base_dir ~ asset('css/main.css') }} ">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/bootstrap.min.css') }} " >
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/all.min.css') }} ">
    <!-- Flaticon CSS -->
    <link rel="stylesheet"  href=" {{ base_dir ~ asset('fonts/flaticon.css') }} " >
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/fullcalendar.min.css') }} ">
    <!-- Animate CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('css/animate.min.css') }} " >
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="{{ base_dir ~ asset('css/select2.min.css') }} ">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="{{  base_dir ~ asset('css/datepicker.min.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href=" {{ base_dir ~ asset('style.css') }} " >
{% endblock %}
{% block body %}
<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Users</h3>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Student Details Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">


            </div>
            <div class="single-info-details">
                <div class="item-img">
                    <img src="{{asset('img/figure/parents.jpg')}}" alt="student">
                </div>
                <div class="item-content">
                    <div class="header-inline item-header">
                        <h3 class="text-dark-medium font-medium">Steven Jones</h3>
                        <div class="header-elements">
                            <ul>
                                <li><a href="#"><i class="far fa-edit" ></i></a></li>
                                <li><a href="{{ path('admin_DisplayPDF') }}"><i class="fas fa-file-pdf"></i></a></li>
                                <li><a href="#"><i class="fas fa-download"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="info-table table-responsive">
                        <table class="table text-nowrap">
                            <tbody>
                            <tr>
                                <td>ID:</td>
                                <td class="font-medium text-dark-medium">#15059</td>
                            </tr>
                            <tr>
                                <td>First Name:</td>
                                <td class="font-medium text-dark-medium">Steven Jones</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td class="font-medium text-dark-medium">Steven Jones</td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td class="font-medium text-dark-medium">Male</td>
                            </tr>
                            <tr>
                                <td>Occupation:</td>
                                <td class="font-medium text-dark-medium">Business</td>
                            </tr>

                            <tr>
                                <td>Address:</td>
                                <td class="font-medium text-dark-medium">House #10, Road #6, Australia</td>
                            </tr>
                            <tr>
                                <td>Religion:</td>
                                <td class="font-medium text-dark-medium">Islam</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td class="font-medium text-dark-medium">+ 88 98568888418</td>
                            </tr>
                            <tr>
                                <td>E-mail:</td>
                                <td class="font-medium text-dark-medium">jessiarose@gmail.com</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-wrap-layout1">
        <div class="copyright">© Copyrights <a href="#">SparkIT</a> 2020. All rights reserved</div>
    </footer>
</div>
</div>
{% endblock %}
