{% extends 'base.html.twig' %}

{% block body %}
<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Users</h3>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Student Details Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">


            </div>
            <div class="single-info-details">
                <div class="item-img">
                    {% if user.gender == "Male" %}
                    <img src="{{asset('img/figure/parents.jpg')}}" alt="student">
                    {% else %}
                        <img src="{{asset('img/figure/student1.jpg')}}" alt="student">
                    {% endif %}
                </div>
                <div class="item-content">
                    <div class="header-inline item-header">
                        <h3 class="text-dark-medium font-medium">{{ user.firstName }} {{ user.lastName }}</h3>
                        <div class="header-elements">
                            <ul>
                                <li><a href="#"><i class="far fa-edit" ></i></a></li>
                                <li><a href="{{ path('admin_DisplayPDF',{'id':user.id}) }}"><i class="fas fa-file-pdf"></i></a></li>
                                <li><a href="#"><i class="fas fa-download"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="info-table table-responsive">
                        <table class="table text-nowrap">
                            <tbody>
                            <tr>
                                <td>ID:</td>
                                <td class="font-medium text-dark-medium">#{{ user.id }} </td>
                            </tr>
                            <tr>
                                <td>First Name:</td>
                                <td class="font-medium text-dark-medium">{{ user.firstName }} </td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td class="font-medium text-dark-medium">{{ user.lastName }} </td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td class="font-medium text-dark-medium">{{ user.gender }} </td>
                            </tr>
                            <tr>
                                <td>Occupation:</td>
                                <td class="font-medium text-dark-medium">{{ user.userType }} </td>
                            </tr>

                            <tr>
                                <td>Address:</td>
                                <td class="font-medium text-dark-medium">House #10, {{ user.address }}</td>
                            </tr>

                            <tr>
                                <td>Phone:</td>
                                <td class="font-medium text-dark-medium">+216 {{ user.phone }} </td>
                            </tr>
                            <tr>
                                <td>E-mail:</td>
                                <td class="font-medium text-dark-medium">{{ user.email }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-wrap-layout1">
        <div class="copyright">© Copyrights <a href="#">SparkIT</a> 2020. All rights reserved</div>
    </footer>
</div>
</div>
{% endblock %}
