{% extends 'base.html.twig' %}
{% block body %}
    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Classes</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Affect Student to  Class</li>
            </ul>
        </div>
        <!-- Breadcubs Area End Here -->
        <!-- Add Class Area Start Here -->
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Affect Student To class</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button"
                           data-toggle="dropdown" aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                              {% set id = students.id %}



                <form class="new-added-form" method="post" >
                    {{ form_start(form)}}
{{ form_widget(form.username, {'attr': {'class':'hidden'}}) }}
                    {{ form_widget(form.id, {'attr': {'class':'hidden'}}) }}
                    {{ form_widget(form.email, {'attr': {'class':'hidden'}}) }}
                    {{ form_widget(form.firstName, {'attr': {'class':'hidden'}}) }}
                    {{ form_widget(form.lastName, {'attr': {'class':'hidden'}}) }}
                    {{ form_widget(form.gender, {'attr': {'class':'hidden'}}) }}
                    {{ form_widget(form.joiningDate, {'attr': {'class':'hidden'}}) }}
                    {{ form_widget(form.address, {'attr': {'class':'hidden'}}) }}
                    {{ form_widget(form.phone, {'attr': {'class':'hidden'}}) }}
                    {{ form_widget(form.bloodGroup, {'attr': {'class':'hidden'}}) }}
                    {{ form_widget(form.birthDay, {'attr': {'class':'hidden'}}) }}
                    {{ form_widget(form.placeobirth, {'attr': {'class':'hidden'}}) }}


                    <div class="row">
                        {{ form_row(form._token) }}
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Student Name *</label>
                            <input type="text" value="{{ students.lastName~" "~students.firstName }}" class="form-control"  >
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>ID No</label>
                            <input type="text" value="{{ students.id }}" class="form-control" >
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Gender *</label>

                                <input type="text" value="{{ students.gender }}" class="form-control" >

                        </div>




                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Class</label>



                            {{ form_widget(form.classe, { 'attr': {'class': 'select2'} })}}


                
                        </div>

                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Academic year</label>

                            {{ form_widget(form.academicyear, {'attr': {'class':'select2'}}) }}



                        </div>

                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>E-Mail *</label>

                            <input type="email" value="{{ students.email }}" class="form-control" >
                        </div>
                        <div class="col-md-6 form-group"></div>
                        <div class="col-12 form-group mg-t-8">
                              {{ form_widget(form.Ajouter, { 'attr': {'class': 'btn-fill-lg btn-gradient-yellow btn-hover-bluedark'} })}}
                   
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                    {{ form_end(form , {'render_rest':false})}}
                </form>

            </div>
        </div>
        <!-- Add Class Area End Here -->
        <footer class="footer-wrap-layout1">
            <div class="copyright">© Copyrights <a href="#">akkhor</a> 2019. All rights reserved. Designed by <a href="#">PsdBosS</a></div>
        </footer>
    </div>
{% endblock %}