{% extends 'base.html.twig' %}
{% block body %}
    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Students</h3>

        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>All Students Data</h3>
                    </div>

                </div>
                <form class="mg-b-20">
                    <div class="row gutters-8">
                        <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                            <input type="text" placeholder="Search by Roll ..." class="form-control">
                        </div>
                        <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                            <input type="text" placeholder="Search by Name ..." class="form-control">
                        </div>
                        <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                            <input type="text" placeholder="Search by Class ..." class="form-control">
                        </div>
                        <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                            <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table display data-table text-nowrap">
                        <thead>
                        <tr>
                            <th>Auteur</th>
                            <th>Title</th>
                            <th>Subject</th>
                            <th>Submition Date</th>
                            <th>number of responses</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for subject in subjects  %}
                            {% if subject.etat == 0 %}
                                <tr>
                                    <td>


                                            {{ subject.auteur }}
                                    </td>
                                    <td>{{ subject.title }}</td>
                                    <td>{{ subject.subject }}</td>
                                    <td>{{ subject.dateajout }}</td>
                                    <td>{{ subject.nbreponse }}<</td>
                                    <td>
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                               aria-expanded="false">
                                                <span class="flaticon-more-button-of-three-dots"></span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{{ path('etudaint_subjectapprove', {'id': subject.id}) }}"><i
                                                            class="fas fa-times text-orange-red"></i>Accept</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}